<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Drop a Beat | <%= page %></title>

        
        <!-- Bootstrap CSS -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        
        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <a id="homeBtn" href="/" class="btn btn-primary" role="button">Home</a>
        <% if (user) { %> 
            <a id="profileBtn" href="/profile" class="btn btn-primary" role="button">Profile</a>
            <a id="postBtn" href="/newpost" class="btn btn-primary" role="button">Drop A Beat</a>
            <a id="logoutBtn" href="/logout" class="btn btn-outline-primary" role="button">Log Out</a>
        <% } else { %>
            <a id="loginBtn" href="/auth/google" class="btn btn-outline-primary" role="button">Login with Google</a>
        <% } %> 