<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop a Beat | <%= page %></title>
    <a href="/">Home</a>
    <% if (user) { %> 
        <a href="/profile">Profile</a>
        <a href="/logout">Log Out</a>
    <% } else { %>
        <a href="/auth/google">Login with Google</a>
        <% } %> 
</head>