<%- include('partials/head', {page: 'home'}) %>
<%- include('partials/base') %>

<h1>Drop A Beat</h1>

<ul>
    <% posts.forEach(function(post) { %>
        <li>
            <h2>
                <%= post.user.name %>
            </h2>
            <p> <%= post.caption %></p>
        </li>
        <% }) %>
</ul>