<%- include('partials/head', {page: 'home'}) %>

<ul id="posts">
    <% posts.forEach(function(post) { %>
        <div class="card">
            <h5 class="card-header"><%= post.user.name %></h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text"><%= post.caption %></p>
            </div>
        </div>
    <% }) %>
</ul>