<%- include('partials/head', {page: 'home'}) %>

<h1>Drop A Beat</h1>

<ul>
    <% posts.forEach(function(post) { %>
        <li>
            <h2>
                <%= post._id %>
            </h2>
            <p> <%= post.caption %></p>
        </li>
        <% }) %>
</ul>