<%- include('partials/head', {page: 'New-Post'}) %>

<h1>What's Your Beat??</h1>
<form action="/newpost" method="POST">
    <div id="newPost" class="card">
        <input type="title" name="title" placeholder="Title">
        <div class="card-body">
          <input type="caption" name="caption" placeholder="Caption">
          <input type="submit" value="Drop the Beat">
        </div>
    </div>
</form>
