<%- include('partials/head', {page: 'New-Post'}) %>
<%- include('partials/base') %>

<h1>What's Your Beat??</h1>
<form action="/newpost" method="POST">
    <input type="caption" name="caption" placeholder="Caption">
    <input type="submit" value="Drop the Beat">
</form>