<%- include('partials/head', {page: 'Profile'}) %>

<h1 id="profile">Profile</h1>

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name: <%= user.name %></li>
      <li class="list-group-item">Email: <%= user.email %></li>
    </ul>
</div>

<div id="favBeatboxers" class="card" style="width: 18rem;">
    <div class="card-header">
        Favorite Beatboxers
    </div>
    <a href="/beatboxer" class="btn btn-info">Add A Favorite Beatboxer</a>
    <ul class="list-group list-group-flush">
            <% user.beatboxers.forEach(function(beatboxer) { %> 
                <li class="list-group-item"><%= beatboxer.string %> </li>
            <% }) %> 
    </ul>
</div>