* {
    margin: 0;
}
body { 
    background-image: url(/images/subwoofer.jpeg) !important; 
    background-size: cover;
    background-position: center fill;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Nav Bar Button Styling */
#homeBtn, #profileBtn, #postBtn {
    background-color: #B266FF;
    border-color: #B266FF;
}

#logoutBtn, #loginBtn {
    border-color: #B266FF;
    color: #B266FF;
}

#homeBtn, #profileBtn, #postBtn, #logoutBtn, #loginBtn {
    margin: 0 auto;
}

/* Posts */
#posts {
    margin: 0 auto;
    max-width: 600px;
}

#post {
    margin: 30px 0;
}

#newPost {
    margin: 0 auto;
    max-width: 600px;
}

#beat {
    color: white;
}

/* Comments */
#newComment {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 30px;
}

#homeComments {
    margin-top: 30px;
}

#newCommentTxt {
    color: white;
}

/* Profile Beatboxers */
#favBeatboxers {
    left: 300px;
    top: -82px
}

#profile {
    margin-top: 30px;
    color: white;
}